{% extends 'base.html' %}
    {% block contenido %}
    <h1>Alumnos Cargados</h1>

    <div class="container mt-4">
        {% if alumnos %}
            <div class="row">
                {% for alumno in alumnos %}
                    <div class="col-md-4 mb-3">
                        <div class="card border-primary">
                            <div class="card-body bg-light">
                                <h5 class="card-title text-primary">{{ alumno.nombre }} {{ alumno.apellido }}</h5>
                                <a href={% url "detalle_alumno" alumno.id %} class="btn btn-primary">Ver más</a> 
                                | <a href={% url "modificar_alumno" alumno.id %} class="btn btn-primary">Modificar</a> 
                                | <a href={% url "eliminar_alumno" alumno.id %} class="btn btn-primary">Eliminar</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                No hay alumnos para mostrar.
            </div>
        {% endif %}
    </div>
    {% endblock contenido %}
    